.center {
  /* 위 아래 정렬 */
  justify-content: center;
}

#clock {
  font-weight: bolder;
  color: white;
  font-size: 7vmax;
  padding: 1vmax 0;
}

.login-div {
  width: 80%;
}
#login-form {
  margin-top: 3vmin;

  display: flex;
  align-items: center;
}
.center input[type="text"] {
  border: none;
  border-radius: 30px;

  padding: 1vmax 1.5vmax;
  background-color: rgba(255, 255, 255, 0.4);

  color: white;

  margin: 0 0.5em;

  font-size: 1em;
  width: 100%;
}

@keyframes signinDisappearA {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes helloAppearA {
  0% {
    transform: rotate(0deg);
    opacity: 0.1;
  }
  30% {
    transform: rotate(5deg);
    opacity: 0.3;
  }
  40% {
    transform: rotate(-5deg);
    opacity: 0.6;
  }
  50% {
    transform: rotate(5deg);
    opacity: 0.9;
  }
  60% {
    transform: rotate(-5deg);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

.sigin-disappear__Anmation {
  animation: signinDisappearA 0.8s ease-in forwards;
}
.hello-appear__Anmation {
  animation: helloAppearA 1s ease-in-out forwards;
}

.center input[type="submit"] {
  font-family: FontAwesome;

  color: rgba(255, 255, 255, 0.7);
  border: none;
  background: none;

  font-size: 2.5vmax;
  text-align: center;

  padding: 0 0.3vmax;
  width: auto;
  height: auto;
}

#greeting {
  margin-top: 3vmin;

  color: white;
  font-size: 3vmax;
  font-weight: bolder;
}
