footer {
  position: fixed;
  bottom: 0;

  width: 100%;

  color: white;
  opacity: 0.5;
  font-family: "Black And White Picture", sans-serif, "Neonderthaw", cursive;
}
footer span:first-child {
  font-size: 2vmax;
}

footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer span {
  display: block;
}
