@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Neonderthaw&display=swap");

@import "./reset.css";
@import "./media.css";

@import "./container.css";

@import "./center.css";
@import "./left-weather.css";
@import "./right-list.css";

@import "./footer.css";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;

  height: auto;
  width: auto;
}

.hidden {
  display: none;
}
